
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 150%;
  color: #493323;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
  }
h2{
    margin: 0 auto 50px auto;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 4%;
    margin: 75px auto;
  }
  p{
    color: #40514E;
  }
.top{
  background-color: #F7F7E8;
  padding: 100px;
  position: relative;
}
.myimg{
  padding: 50px;
}
.skillrow1{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.skillrow2{
  width: 50%;
  margin: 50px auto 0 auto;
  text-align: left;
  line-height: 2;
}
.code{
  width: 25%;
  float: right;
  margin-left: 25px;
}
.chilli{
  width: 25%;
  float: left;
  margin-right: 25px;
}
.top-cloud{
  position: absolute;
  right: 500px;
  top: 50px;
}
.bottom-cloud{
position: absolute;
left: 500px;
}
.middle-container{
  background-color: #FFFCDC;
}
.contact-me{
  padding-bottom: 20px;
  line-height: 1;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #626968;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #ea00ff);
  background-image: -moz-linear-gradient(top, #30E3CB, #ea00ff);
  background-image: -ms-linear-gradient(top, #30E3CB, #ea00ff);
  background-image: -o-linear-gradient(top, #30E3CB, #ea00ff);
  background-image: linear-gradient(to bottom, #30E3CB, #ea00ff);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 30px;
}
.footer-link{
  margin: 0 15px 0 15px;
  color: #11999E;
  font-size: 70%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.end{
  color: #FFF9B6;
  text-shadow: grey;
  font-size: 50%;
}
